<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="appVersion" value="09121996" />  
    </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthentication" sendTimeout="01:00:00"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IDecryption" sendTimeout="01:00:00"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IInformation" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55397/Service/Decryption.svc/Decryption.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDecryption"
                contract="DecryptionService.IDecryption" name="BasicHttpBinding_IDecryption" />
            <endpoint address="http://localhost:55397/Service/Authentication.svc/Authentication.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthentication"
                contract="AuthenticationService.IAuthentication" name="BasicHttpBinding_IAuthentication" />
            <endpoint address="http://localhost:55397/Service/Information.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInformation"
                contract="InformationService.IInformation" name="BasicHttpBinding_IInformation" />
        </client>
    </system.serviceModel>
</configuration>